@media (max-width: 768px){

   ul{
    flex-direction: column;
   }
 
    main{
       flex-direction: column;
    }
    
    h2{
       font-size: 38px;
       flex-direction: column;
    }

    .img-header{
        display: none;
        margin: 0 auto;
        width: 75px;
    }
    img{
        display: none;
    }

  
 }



 @media(max-width: 730px){
    nav, ul{
        flex-direction: column;

    }

    ul{
        text-align: center;
    }
   
 }

 .menu {
    background-color: transparent;
    padding: 10px;
  }
  
  
  .menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  
  
  .menu-itens {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menu-itens li {
    float: left;
  }
  .menu-itens li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-itens li a:hover {
    background-color: #ddd;
  }

  @media screen and (max-width: 600px) {
    .menu{
        background-color: #72C24E;
        border-radius: 10px;
        transition: 0.1s;
    }
    .menu:hover{
        background-color: #15473C;
    }
    .menu-itens {
      display: none;
    }

    .hamburguer {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
      }
  
    .menu-toggle {
      display: block;
    }
  
    .menu-toggle.open .hamburguer {
      background-color: transparent;
    }
  
    .menu-toggle.open .hamburguer:before {
      transform: rotate(45deg) translate(4px, 4px);
    }
  
    .menu-toggle.open .hamburguer:after {
      transform: rotate(-45deg) translate(4px, -4px);
    }
  
    .menu-toggle.open ~ .menu-list {
      display: block;
    }
  }

  

body{
   background-color: #E0F4EF;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   max-width: 1200px;
   margin: 0 auto;
   padding: 15px;

}


/*style cabeçalho*/
button{
    background-color: transparent;
    border: none;
    color: #E0F4EF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(225, 225, 225, 0.2);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
  
}


/*style dos botões*/

.traducao-btn{
    background-color: #72C24E;  /*cor botão*/
    color: white;              /*cor letra*/
    font-size: 12px;            /* tamanho fonte*/
    padding: 10px 15px;        /*espaçamento interno*/
    border-radius: 18px;      /*borda*/
    cursor: pointer;         /*interatividade*/
    display: inline-block;  /*carac. bloco de nível*/
    transition: 0.1s;      /*transição suave*/
}

.traducao-btn:hover{

    background-color: #15473C;  /*cor de interatividade*/
}

.contatos-btn{
    background-color: #72C24E;
    color: white;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.contatos-btn:hover{
    background-color: #15473C;
}


.sigaa-btn{
    background-color: #72C24E;
    color: white;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    
}

.sigaa-btn:hover{
    background-color: #15473C;
}

.acessarNormas-btn{
    margin-top: 25px ;      /*espaçamento superior*/
    margin-left: -40px;    /*epaçamento esquerdo*/
    width: 120px;         /*largura*/
    background-color: #72C24E;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;

}

.acessarNormas-btn:hover{
    background-color: #15473C;
}

/*style parte central da Tela Inicial*/
main{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

/*style do titulo do site na tela inicial*/

h2{
    margin-top: 80px;
    font-size: 45px;
    line-height: 18px;

}

/*-----------------------------------------*/

p{ /*paragrafo de descrição*/
    text-align: justify;
    line-height: 20px;
    max-width: 500px;

}
img{
    max-width: 100%;
    width: 350px;
    position: absolute;
    left: 65%;
    top: 18%;
    
}

